<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button v-on:click="penilaian()">Open Form</button>
        <h2>{{'Nilai a : ' + jumlah}}</h2>
        <h2>{{`Rata rata : ${rata_rata}`}}</h2>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>

        var vm = new Vue({
            el: '#app',
            data: {
                jumlah: 0,
                rata_rata: 0
            },
            methods: {
                penilaian() {
                    let value = 0;
                    let count = 0;

                    while (value <= 10) {
                        let input = parseInt(prompt("Masukkan nilai a: "))
                        value += input;
                        count++;
                    }
                    this.jumlah = value;
                    this.rata_rata = value / count;
                }
            }
        })

    </script>

</body>

</html>