<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="keyword" placeholder="Ketika Kata Kunci">

        <ul>
            <li v-for="item in resultKeyword">
                {{item}}
            </li>
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                keyword: '',
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman',
                ],
            },
            computed: {
                resultKeyword() {
                    if (this.keyword) {
                        return this.books.filter((item) => {
                            return this.keyword.toLowerCase().split(' ').every(v => item.toLowerCase().includes(v))
                        })
                    } else {
                        return this.books;
                    }
                }
            }
        })
    </script>
</body>

</html>