<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="isName">
        <button type="button" v-if="btnProses" v-on:click="add()">Add</button>
        <button type="button" v-if="!btnProses" v-on:click="update(users)">Update</button>

        <ul>
            <li v-for="(user, index) in users">{{user.name}}
                <button type="button" v-on:click="edit(user, index)">Edit</button> ||
                <button type="button" v-on:click="remove(index)">Delete</button>
            </li>
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                isName: '',
                users: [
                    {
                        'name': 'Muhammad Iqbal Mubarok',
                    },
                    {
                        'name': 'Ruby Purwanti',
                    },
                    {
                        'name': 'Faqih Muhammad',
                    },
                ],
                btnProses: true,
            },
            methods: {
                add() {
                    var tambahNama = this.isName.trim()
                    if (tambahNama) {
                        this.users.push({ name: tambahNama })
                        this.isName = ''
                    }
                },
                update(params) {
                    var ubahNama = this.isName.trim()
                    console.log(this.users.find(ubahNama))
                    // if (ubahNama)
                        console.log('tes params', ubahNama)
                    this.isName = ''
                    this.btnProses = true
                },
                edit(user, index) {
                    this.isName = user.name
                    this.btnProses = false
                },
                remove(index) {
                    this.users.splice(index, 1);
                },
            },
        })
    </script>
</body>

</html>